  body {
  background-color: #f2f0ff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
  .home-container {
  max-width: 900px;
  margin: 50px auto;
  background: #ffffff; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  color: #333;
}

.home-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0d3b66; 
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-style: oblique;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  text-align: center;
}

th {
  background-color: #0d3b66; 
  color: #ffffff; 
  text-align: center;
}

tr:hover {
  background-color:lavender; 
}


.actions {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.action-icon {
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s ease;
  justify-content: center;
}

/* Individual icon colors */
.view-icon { color: #0d3b66; }     
.edit-icon { color: black }     
.delete-icon { color: #d62828; }   
.add-icon { color: #ffb347; }      

.action-icon:hover {
  transform: scale(1.2);
}
